In [14]:
import pandas as pd 

df = pd.read_excel('USA_Supercharger_Stations.xlsx')
df

,Supercharger,Street Address,City,State,Zipcode,Country,GPS,Statues,Open Date
0,"Soldotna, AK",43540 Whistle Hill Loop,Soldotna,AK,99669,USA,"60.494628, -151.045047",PERMIT,NaT
1,"Auburn, AL",1627 Opelika Rd,Auburn,AL,36830,USA,"32.627837, -85.445105",OPEN,2014-12-23
2,"Birmingham, AL",2221 Richard Arrington Jr Blvd N,Birmingham,AL,35203,USA,"33.525917, -86.806875",OPEN,2016-11-16
3,"Athens, AL",1325 US-72,Athens,AL,35611,USA,"34.785443, -86.942964",OPEN,2017-05-31
4,"Steele, AL",905 Steele Station Rd,Steele,AL,35987,USA,"33.933824, -86.191611",OPEN,2017-08-09
...,...,...,...,...,...,...,...,...,...
1188,"Evansville, WY",6985 Nugget St,Evansville,WY,82636,USA,"42.846691, -106.214485",OPEN,2020-07-02
1189,"Gillette, WY","Hampton Inn, 211 Decker Ct",Gillette,WY,82718,USA,"44.29301, -105.526628",OPEN,2015-09-24
1190,"Cheyenne, WY",1400 Dell Range Blvd,Cheyenne,WY,82009,USA,"41.161085, -104.804955",OPEN,2014-01-20
1191,"Laramie, WY",1673 Centennial Dr,Laramie,WY,82070,USA,"41.32512, -105.618117",OPEN,2017-08-31
1192,"Rawlins, WY",2370 E Cedar St,Rawlins,WY,82301,USA,"41.79082, -107.210272",OPEN,2017-09-01

In [15]:
x = df.drop(columns=['Open Date', 'Statues'])
x

,Supercharger,Street Address,City,State,Zipcode,Country,GPS
0,"Soldotna, AK",43540 Whistle Hill Loop,Soldotna,AK,99669,USA,"60.494628, -151.045047"
1,"Auburn, AL",1627 Opelika Rd,Auburn,AL,36830,USA,"32.627837, -85.445105"
2,"Birmingham, AL",2221 Richard Arrington Jr Blvd N,Birmingham,AL,35203,USA,"33.525917, -86.806875"
3,"Athens, AL",1325 US-72,Athens,AL,35611,USA,"34.785443, -86.942964"
4,"Steele, AL",905 Steele Station Rd,Steele,AL,35987,USA,"33.933824, -86.191611"
...,...,...,...,...,...,...,...
1188,"Evansville, WY",6985 Nugget St,Evansville,WY,82636,USA,"42.846691, -106.214485"
1189,"Gillette, WY","Hampton Inn, 211 Decker Ct",Gillette,WY,82718,USA,"44.29301, -105.526628"
1190,"Cheyenne, WY",1400 Dell Range Blvd,Cheyenne,WY,82009,USA,"41.161085, -104.804955"
1191,"Laramie, WY",1673 Centennial Dr,Laramie,WY,82070,USA,"41.32512, -105.618117"
1192,"Rawlins, WY",2370 E Cedar St,Rawlins,WY,82301,USA,"41.79082, -107.210272"